<h1>This is the secret page </h1>

<p>you've found me</p>

<img src="https://image.shutterstock.com/image-photo/pug-gdog-on-looking-laptop-260nw-184904273.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>